# 第1章 R と統計学

## 1.4 R をさわってみよう

### 1.4.2 基本的な操作の概要

In [1]:
3 + 5

[1] 8

In [2]:
10 - 3

[1] 7

In [3]:
2 * 3

[1] 6

In [4]:
20 / 4

[1] 5

In [5]:
sqrt(16)

[1] 4

In [6]:
log(2, base = 10)

[1] 0.30103

In [7]:
date()

[1] "Sat Dec 31 09:47:19 2022"

In [8]:
2^2

[1] 4

## 1.5 R をもっとさわってみよう

### 1.5.1 R を使った統計

In [9]:
summary(c(173, 178, 180, 183, 182, 174, 179, 179, 174, 192))

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  173.0   175.0   179.0   179.4   181.5   192.0

## 1.6 R の使い方のコツ

### 1.6.1 複数の値をまとめて扱う

In [10]:
身長 <- c(173, 178, 180, 183, 182, 174, 179, 179, 174, 192)

In [11]:
身長

 [1] 173 178 180 183 182 174 179 179 174 192

In [12]:
ホークス <- matrix(
  c(
    173, 178, 180, 183, 182, 174, 179, 179, 174, 192,
    17000, 14000, 9000, 50000, 30000, 12000, 900, 2100, 1000, 25000
  ),
  10, 2
)

In [13]:
ホークス

      [,1] [,2]
 [1,] 173  17000
 [2,] 178  14000
 [3,] 180   9000
 [4,] 183  50000
 [5,] 182  30000
 [6,] 174  12000
 [7,] 179    900
 [8,] 179   2100
 [9,] 174   1000
[10,] 192  25000

### 1.6.2 外部データファイルを読み込んでみよう

In [14]:
ホークス2 <- read.csv("dataset/hawks.csv")

In [15]:
ホークス2

   height salary
1  173    17000
2  178    14000
3  180     9000
4  183    50000
5  182    30000
6  174    12000
7  179      900
8  179     2100
9  174     1000
10 192    25000

### 1.6.3 関数を作ってみよう

In [16]:
varp <- function(x) {
  標本分散 <- var(x) * (length(x) - 1) / length(x)
  標本分散
}

In [17]:
x <- c(10, 13, 8, 15, 8)
x

[1] 10 13  8 15  8

In [18]:
var(x)

[1] 9.7

In [19]:
varp(x)

[1] 7.76